@font-face
{
  font-family: "fuente";
  src: url(Web_Serveroff.otf);
}

@font-face
{
  font-family: "fuente";
  src: url(Web_Serveroff-bold.otf);
  font-weight: bold;
}

body{
      font-family:"fuente","Helvetica Neue", Helvetica, Arial, sans-serif;
      color:#444;
      font-size:16px;
      background: #DEE;
      
}
div
{
  
}
div div:hover
{
  box-shadow: 0px 0px 200px  rgba(255,255,255, .5) inset;
}

.group, .match, .score, .team, .img24x24{
      float:left;
      overflow:hidden;
    }

.groupTit{
      font-family:"fuente"; 
       text-shadow: -1px -1px #abb; 
      height:30px;
      line-height:30px;
      font-weight: bold;
      padding-left: 4px;
      font-size: 16px;
       background: #9AA;
    }
.group{
      width:244px;     
      margin:1px;
      -webkit-transition: height 1s; /* For Safari 3.1 to 6.0 */
      transition: height 1s;
      height:210px;
       background: #BCC;
      

    }
.match{
      width:50px;
      height:30px;
      line-height:30px;
      padding-left: 4px;
     
      font-size: 12px;
    }
.score{
      width:20px;
      height:22px;
      line-height: 20px;
      margin-top:2px;
      background:#DEE;
     
      text-align: center;
      margin-right:1px;
      
    }
.img24x24
    {
      position: relative;
      top: 2px;
    }
.team{
      width:50px;
      overflow:hidden;
      height:30px;
      line-height:30px;
      text-align: center;
    }
#world
{  
  margin: 10px auto;
  width: 992px;
  cursor:pointer;
  overflow: hidden;
}
#dashboard, .title
{
  font-size: 60px;
  font-family:"fuente"; 
  text-shadow: -1px -1px #EFF; 
  font-weight: bold;
  text-align: right;
  margin-right: 150px;
}

#dashboard
{
  height: 80px;
}
.title
{
  text-align: left;
  
}
.group:nth-child(9),.group:nth-child(10), .group:nth-child(11), .group:nth-child(12), .group:nth-child(13)
{
  width: 984px;
  margin: auto;
  text-align: center;
}

.myDatafemale{color:#DD9988;}
.myDatamale{color:#222266;}

.myData{float:left;height:100px;}
.save{
     width: 75px;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: orange;
    margin: auto;
    cursor: pointer;
    display: none;
    overflow: hidden;
    width: 200px;
    font-weight: bold;
    font-size: 20px;
    }
.save:hover
{
   background:#c0392b;
}

.collapse
{
  height:30px;
}

#notFriends
{
  display: none;
  min-height: 200px;
  width: 100%;
  padding: 5px 0;
  margin: 5px 0;
  background-color: #223333;
}

.notFriend
{
  min-height: 195px;
  width: 130px;
  background: #334444;
  float: left;
   margin: 2px 7px;
}

#friends
{
  display: none;
  width: 100%;
  min-height: 200px;
  padding: 5px 0;
  margin: 5px 0;
  background-color: #889999;
}

.friend
{
  min-height: 195px;
  width: 130px;
  background: #556666;
  float: left;
  margin: 2px 7px;
}

.friend .groupTit, .notFriend .groupTit
{
  
  height: 30px;
  font-weight: bold;
  padding-left: 4px;
  font-size: 17px;
  padding: 3px;
  text-align: center;
  overflow: hidden;
}

.scoreFriend
{
  font-size: 19px;
  font-weight: bold;
  padding: 0px 10px;
  margin-bottom: -5px;
  margin-top: 5px;
  color: #DEE;
}
.imgUser{
  margin: auto;
  padding: 10px;
}
.encuestas iframe
{
  float:left;
  min-height:400px;
}

.encuestas
{
  width:900px;
  height: auto;
  margin: auto;
  margin-top: 10px;
}
.tagboard
{
  width: 800px;
  overflow: hidden;
  margin: auto;
  margin-top: 10px;
}

.encuestasContainer
{
  width: 800px;
  height: 200px;
  margin: auto;
  margin-top: 10px;
}

.encuestasIframe
{
  border:0;
  overflow: hidden;
  width:930px;
  height: 370px;
  margin: auto;
}

.locker
{
  z-index:99;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: none;
  line-height: 400px;
  text-align:center;
  font-size: 60px;
  margin: auto;
}